/* You can add global styles to this file, and also import other style files */
body {
    font-family: '8-bit-hud', sans-serif;
    color: bisque;
    background-color: black;
    -webkit-background-clip: image; /* for WebKit/Blink browsers */
  background-clip: text;
}


.fc-day-today {
  background: url('/assets/firegif.gif') center center no-repeat;
  background-size: 350% 400%; /* or contain, depending on your preference */
  background-position: 62% 50%;
  opacity: 100%;
  mix-blend-mode: overlay; /* Apply overlay blending mode */
}




/* Change the grid lines in the month view */
.fc-daygrid-day {
    border: 1px solid #ff0000; /* Change the border color to red */
  }
  
  /* Change the top border of the header row */
  .fc-daygrid-header {
    border-bottom: 1px solid #ff0000;
  }
  
  /* Change the vertical lines */
  .fc-daygrid {
    border-left: 1px solid #ff0000;
  }

  /* .fc table {
    border: 10px #ff0000;
    border-collapse: collapse;
    border-spacing: 10px;
    font-size: 1em;
} */