<div 
  class="calendar" 
  [ngStyle]="{
    'background': 'url(' + backgroundUrl + ') center center no-repeat', 
    'background-size': 'cover'
  }">
  <div class="header">
    <button (click)="prevMonth()">Previous</button>
    <h2>{{ currentMonth() }} {{ currentDate.getFullYear() }}</h2>
    <button (click)="nextMonth()">Next</button>
  </div>

  <div class="days">
    <div *ngFor="let day of daysInMonth" 
         class="day" 
         [ngClass]="{'cday': day.getDate() === currentDate.getDate()}">
      {{ day | date: 'd' }}
    </div>
  </div>
</div>
